<div><form data-id="{{id}}" class="form updated-post-form">
    <div class="form-group">
      <label for="post-title">post name:</label>
      <input placeholder="{{title}}" class="form-input" type="text" id="post-title" name="post-title" />
    </div>
    <div class="form-group">
      <label for="post-content">content:</label>
      <textarea
       placeholder="{{content}}" class="form-input"
        id="post-content"
        name="post-content"
      ></textarea>
    </div>
    <div class="form-group">
      <button type="submit" id="editBtn" class="btn btn-primary">Edit</button>
    </div>
  </form>
</div>

<script src="../../../js/edit.js"></script>